body {
    padding: 0px;
    background-color: #121212;
    box-sizing: border-box;
    font-size: 16px;
    color: #BAB5B9;
}

.navbar-inverse {
    border-radius: 0px;

}
.container {
    width: 100%;
}


#leftbar {
    position: relative;
    top: 30px;
}

#content {
    width: 80%;
    margin-left: 20%;
    margin-top : 3%;
}

h2 {
    text-shadow: 0 1px 1px rgba(0,0,0,.6);

}

p {
    font-size: 18px;
}
a {
 /* color: #00B7FF;*/
}

.navbar-header {
    position: relative;
    top: -30px;
    width: 300px;

}
.navbar-brand h2 {
    color : #FFFFFF;
}

.nav-pills {
    width: 20%;
}

.nav>li>a {
    padding-right: 25px;
    padding-left: 25px;
}